button {
    background: $btn-background;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10vw;
    padding: 0.5vw 2vw;
    border: 1px solid $accent-color;
    color: $text-main;
    transition: $transition;
    cursor: pointer;

    &:hover {
        background: $btn-background-secondary;
        box-shadow: $purple-glow2;
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(0);
    }
}